{
  "server": {
    "port": 8045,
    "host": "0.0.0.0",
    "maxRequestSize": "500mb",
    "heartbeatInterval": 15000,
    "memoryThreshold": 50
  },
  "rotation": {
    "strategy": "round_robin",
    "requestCount": 50
  },
  "log": {
    "maxSizeMB": 10,
    "maxFiles": 5,
    "maxMemory": 500
  },
  "api": {
    "use": "production",
    "sandbox": {
      "url": "https://daily-cloudcode-pa.sandbox.googleapis.com/v1internal:streamGenerateContent?alt=sse",
      "modelsUrl": "https://daily-cloudcode-pa.sandbox.googleapis.com/v1internal:fetchAvailableModels",
      "noStreamUrl": "https://daily-cloudcode-pa.sandbox.googleapis.com/v1internal:generateContent",
      "host": "daily-cloudcode-pa.sandbox.googleapis.com",
      "recordTrajectory": "https://daily-cloudcode-pa.sandbox.googleapis.com/v1internal:recordTrajectoryAnalytics"
    },
    "production": {
      "url": "https://daily-cloudcode-pa.googleapis.com/v1internal:streamGenerateContent?alt=sse",
      "modelsUrl": "https://daily-cloudcode-pa.googleapis.com/v1internal:fetchAvailableModels",
      "noStreamUrl": "https://daily-cloudcode-pa.googleapis.com/v1internal:generateContent",
      "host": "daily-cloudcode-pa.googleapis.com",
      "recordTrajectory": "https://daily-cloudcode-pa.googleapis.com/v1internal:recordTrajectoryAnalytics"
    },
    "userAgent": "antigravity/2.18.3 windows/amd64"
  },
  "defaults": {
    "temperature": 1,
    "topP": 1,
    "topK": 50,
    "maxTokens": 32000,
    "thinkingBudget": 16000
  },
  "cache": {
    "modelListTTL": 3600000
  },
  "other": {
    "timeout": 300000,
    "retryTimes": 10,
    "forceIPv4": false,
    "skipProjectIdFetch": false,
    "useNativeAxios": false,
    "useContextSystemPrompt": true,
    "officialPromptPosition": "before",
    "mergeSystemPrompt": false,
    "passSignatureToClient": false,
    "useFallbackSignature": false,
    "cacheAllSignatures": false,
    "cacheToolSignatures": true,
    "cacheImageSignatures": true,
    "cacheThinking": true,
    "fakeNonStream": true
  }
}
